small {
  font-size: 85%;
}

.text-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.float-right {
  float: right;
}

.work-item {
  height: 100%;
  width: 100%;
}

.work-item img {
  height: auto;
  min-height: auto;
  max-height: 250px !important;
  object-fit: fill;
  object-position: 50% 50%;
  width: 100%;
}

.experience-item {
  margin: 0 auto;
  padding: 50px 10px;
  max-width: 600px;
}

.experience-item__toggle-details {
  margin: 5px 15px;
}

.experience-item__details {
  padding: 25px 15px;
}