<h2>My personal thoughts</h2>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/thank-you-watterson-towers">
        <img src="images/blog/watterson-towers.jpg" alt="Illinois State: Watterson Towers" />
        <h3>Thank You Watterson Towers</h3>
        <p>Blurb words and lorem ipsum. Blurb words and lorem ipsum.</p>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/introversion-breaking-down-the-myths">
        <img src="images/thumbs/01.jpg" alt="" />
        <h3>Introversion: Breaking Down the Myths</h3>
        <p>Blurb words and lorem ipsum. Blurb words and lorem ipsum.</p>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/the-best-four-years-of-your-life-or-not">
        <img src="images/thumbs/01.jpg" alt="" />
        <h3>The Best Four Years of Your Life <em>Or Not</em></h3>
        <p>Blurb words and lorem ipsum. Blurb words and lorem ipsum.</p>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/why-distance-doesnt-have-to-define-a-relationship">
        <img src="images/thumbs/01.jpg" alt="" />
        <h3>Why Distance Doesn't Have to Define a Relationship</h3>
        <p>Blurb words and lorem ipsum. Blurb words and lorem ipsum.</p>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/45-wonderful-things-to-be-thankful-for">
        <img src="images/thumbs/01.jpg" alt="" />
        <h3>45 Wonderful Things to be Thankful For</h3>
        <p>Blurb words and lorem ipsum. Blurb words and lorem ipsum.</p>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/miles-apart-together-at-heart-friendships-that-last">
        <img src="images/thumbs/01.jpg" alt="" />
        <h3>Miles Apart Together at Heart Friendships That Last</h3>
        <p>Blurb words and lorem ipsum. Blurb words and lorem ipsum.</p>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/were-cool-for-the-summer">
        <img src="images/thumbs/01.jpg" alt="" />
        <h3>We're Cool for the Summer</h3>
        <p>Blurb words and lorem ipsum. Blurb words and lorem ipsum.</p>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/awkward-adventures-cabs">
        <img src="images/thumbs/01.jpg" alt="" />
        <h3>Awkward Adventures Cabs</h3>
        <p>Blurb words and lorem ipsum. Blurb words and lorem ipsum.</p>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/dissatisfaction">
        <img src="images/thumbs/01.jpg" alt="" />
        <h3>Dissatisfaction</h3>
        <p>Blurb words and lorem ipsum. Blurb words and lorem ipsum.</p>
      </a>
    </article>
  </div>
</div>