<h2>My personal thoughts</h2>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/thank-you-watterson-towers">
        <img src="images/blog/watterson-towers.jpg" alt="Illinois State: Watterson Towers" />
        <h3>Thank You Watterson Towers</h3>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/introversion-breaking-down-the-myths">
        <img src="images/blog/introversion.jpg" alt="Introverted Individual" />
        <h3>Introversion: Breaking Down the Myths</h3>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/the-best-four-years-of-your-life-or-not">
        <img src="images/blog/high-school.jpg" alt="High school was the best, right?" />
        <h3>The Best Four Years of Your Life <em>Or Not</em></h3>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/why-distance-doesnt-have-to-define-a-relationship">
        <img src="images/blog/distance.jpg" alt="Distance = Relationship?" />
        <h3>Why Distance Doesn't Have to Define a Relationship</h3>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/45-wonderful-things-to-be-thankful-for">
        <img src="images/blog/thanksgiving.jpg" alt="Thanksgiving = Thankfulness" />
        <h3>45 Wonderful Things to be Thankful For</h3>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/miles-apart-together-at-heart-friendships-that-last">
        <img src="images/blog/heart.jpg" alt="Friendships forever and everywhere" />
        <h3>Miles Apart - Together at Heart: Friendships that Last</h3>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/were-cool-for-the-summer">
        <img src="images/blog/cool-summer.jpg" alt="Summer is pretty cool" />
        <h3>We're Cool for the Summer</h3>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/awkward-adventures-cabs">
        <img src="images/blog/taxi.jpg" alt="Taxis are not as easy as they seem" />
        <h3>Awkward Adventures Cabs</h3>
      </a>
    </article>
  </div>
  <div class="col-xs-12 col-md-6">
    <article class="work-item">
      <a href="http://missabbywright.weebly.com/blog/dissatisfaction">
        <img src="images/blog/dissatisfaction.jpg" alt="Not happy." />
        <h3>Dissatisfaction</h3>
      </a>
    </article>
  </div>
</div>