<div id="spotlights" class="spotlights">
  <section class="work-item">
    <a target="_blank" href="#" class="image"><img src="images/abby-wright.png" /></a>
    <div class="content">
      <div class="inner">
        <span class="float-right">Sept 2016 - Present</span>
        <h2 class="display-inline">CIT Trucks</h2>
        <h5>HR Generalist Intern</h5>
        <ul>
          <li>Maintain accurate records of technician training for 200 technicians at 17 locations</li>
          <li>Recruit for locations in Illinois and Missouri using ICIMS applicant tracking system</li>
          <li>Contribute to other HR functions and projects as needed</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="work-item">
    <a target="_blank" href="#" class="image"><img src="images/abby-wright.png" /></a>
    <div class="content">
      <div class="inner">
        <span class="float-right">May 2016 - Aug 2016</span>
        <h2 class="display-inline">Monsanto</h2>
        <h5>HR Intern: Global Benefits</h5>
        <ul>
          <li>Leveraged MercerGOLD+ online compensation and benefits database to analyze benefits for 66 countries</li>
          <li>Designed an annual audit process to maintain and preserve accurate records in MercerGOLD+ database</li>
          <li>Observed various compensation and benefits initiatives including annual enrollment preparations, request for proposals
            and compensation market reviews</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="work-item">
    <a target="_blank" href="#" class="image"><img src="images/abby-wright.png" /></a>
    <div class="content">
      <div class="inner">
        <span class="float-right">May 2015 - Aug 2015</span>
        <h2 class="display-inline">Monsanto</h2>
        <h5>HR Intern: Talent Acquisition</h5>
        <ul>
          <li>Managed and dispositioned candidate applications in TALEO applicant tracking system</li>
          <li>Reviewed resumes of applicants and conducted behavioral based interviews for various research and technology roles</li>
          <li>Sourced for external candidates by utilizing LinkedIn Recruiter Seat</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="work-item">
    <a target="_blank" href="#" class="image"><img src="images/abby-wright.png" /></a>
    <div class="content">
      <div class="inner">
        <span class="float-right">Jan 2014 - May 2016</span>
        <h2 class="display-inline">University Housing Services at Illinois State University</h2>
        <h5>Service Area Manager</h5>
        <ul>
          <li>Utilized customer service skills while serving as a point-person for 2,400 residents</li>
          <li>Greeted, assisted, and directed residents, workers, and visitors</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="work-item">
    <a target="_blank" href="#" class="image"><img src="images/abby-wright.png" /></a>
    <div class="content">
      <div class="inner">
        <span class="float-right">Aug 2014 - May 2016</span>
        <h2 class="display-inline">University Housing Services at Illinois State University</h2>
        <h5>Resident Assistant</h5>
        <ul>
          <li>Fostered the development of relationships among 64 residents</li>
          <li>Planned and implemented programs to assist new students in transitioning to the university</li>
          <li>Mentored first-year students on academic and personal questions and concerns</li>
        </ul>
      </div>
    </div>
  </section>
</div>