<section class="experience-item">
  <div>
    <h2 class="display-inline">CIT Trucks</h2>
    <em class="float-right">Normal, IL</em>
  </div>

  <div>
    <h3 class="display-inline">HR Generalist Intern, <small><em>September 2016 - Present</em></small></h3>
    <a href="#" class="js-toggleDetails float-right">See Details</a>
    <ul class="display-none js-details experience-item__details">
      <li>Maintain accurate records of technician training for 200 technicians at 17 locations</li>
      <li>Recruit for locations in Illinois and Missouri using ICIMS applicant tracking system</li>
      <li>Contribute to other HR functions and projects as needed</li>
    </ul>
  </div>
</section>

<section class="experience-item">
  <div>
    <h2 class="display-inline">Monsanto</h2>
    <em class="float-right">St. Louis, MO</em>
  </div>

  <div>
    <h3 class="display-inline">HR Intern: Global Benefits, <small><em>May 2016 - August 2016</em></small></h3>
    <a href="#" class="js-toggleDetails float-right">See Details</a>
    <ul class="display-none js-details experience-item__details">
      <li>Leveraged MercerGOLD+ online compensation and benefits database to analyze benefits for 66 countries</li>
      <li>Designed an annual audit process to maintain and preserve accurate records in MercerGOLD+ database</li>
      <li>Observed various compensation and benefits initiatives including annual enrollment preparations, request for proposals
        and compensation market reviews</li>
    </ul>
  </div>

  <div>
    <h3 class="display-inline">HR Intern: Talent Aquisition, <small><em>May 2015 - August 2015</em></small></h3>
    <a href="#" class="js-toggleDetails float-right">See Details</a>
    <ul class="display-none js-details experience-item__details">
      <li>Managed and dispositioned candidate applications in TALEO applicant tracking system</li>
      <li>Reviewed resumes of applicants and conducted behavioral based interviews for various research and technology roles</li>
      <li>Sourced for external candidates by utilizing LinkedIn Recruiter Seat</li>
    </ul>
  </div>
</section>

<section class="experience-item">
  <div>
    <h2 class="display-inline">University Housing Services</h2>
    <em class="float-right">Illinois State University: Normal, IL</em>
  </div>

  <div>
    <h3 class="display-inline">Service Area Manager, <small><em>January 2014 – May 2016</em></small></h3>
    <a href="#" class="js-toggleDetails float-right">See Details</a>
    <ul class="display-none js-details experience-item__details">
      <li>Utilized customer service skills while serving as a point-person for 2,400 residents</li>
      <li>Greeted, assisted, and directed residents, workers, and visitors</li>
    </ul>
  </div>

  <div>
    <h3 class="display-inline">Resident Assistant, <small><em>August 2014 – May 2016</em></small></h3>
    <a href="#" class="js-toggleDetails float-right">See Details</a>
    <ul class="display-none js-details experience-item__details">
      <li>Fostered the development of relationships among 64 residents</li>
      <li>Planned and implemented programs to assist new students in transitioning to the university</li>
      <li>Mentored first-year students on academic and personal questions and concerns</li>
    </ul>
  </div>
</section>